/**
 * Grid
 */

[grid-row] {
    box-sizing: border-box;
  
    display: -webkit-box; display: 
    -webkit-flex; display: 
    -ms-flexbox; display: flex;
  
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
}
  
[grid-col] {
    box-sizing: border-box;
}
  
[grid-col="auto"] {
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
}
  
[grid-col="1"] { width: 8.33333%; }
[grid-col="2"] { width: 16.66667%; }
[grid-col="3"] { width: 25%; }
[grid-col="4"] { width: 33.33333%; }
[grid-col="5"] { width: 41.66667%; }
[grid-col="6"] { width: 50%; }
[grid-col="7"] { width: 58.33333%; }
[grid-col="8"] { width: 66.66667%; }
[grid-col="9"] { width: 75%; }
[grid-col="10"] { width: 83.33333%; }
[grid-col="11"] { width: 91.66667%; }
[grid-col="12"] { width: 100%; }

@media (max-width: 40em) { 
    [grid-responsive] [grid-col] {
        width: 100%;
      
        -webkit-box-flex: none; 
        -webkit-flex: none; 
        -ms-flex: none; 
        flex: none;
    }
}

[grid-pad="0"] { padding: 0; }
[grid-pad="t0"] { padding-top: 0; }
[grid-pad="r0"] { padding-right: 0; }
[grid-pad="b0"] { padding-bottom: 0; }
[grid-pad="l0"] { padding-left: 0; }
[grid-pad="x0"] { padding-left: 0; padding-right: 0; }
[grid-pad="y0"] { padding-top: 0; padding-bottom: 0; }
[grid-pad="1"] { padding: 0.5rem; }
[grid-pad="t1"] { padding-top: 0.5rem; }
[grid-pad="r1"] { padding-right: 0.5rem; }
[grid-pad="b1"] { padding-bottom: 0.5rem; }
[grid-pad="l1"] { padding-left: 0.5rem; }
[grid-pad="x1"] { padding-left: 0.5rem; padding-right: 0.5rem; }
[grid-pad="y1"] { padding-top: 0.5rem; padding-bottom: 0.5rem; }
[grid-pad="2"] { padding: 1rem; }
[grid-pad="t2"] { padding-top: 1rem; }
[grid-pad="r2"] { padding-right: 1rem; }
[grid-pad="b2"] { padding-bottom: 1rem; }
[grid-pad="l2"] { padding-left: 1rem; }
[grid-pad="x2"] { padding-left: 1rem; padding-right: 1rem; }
[grid-pad="y2"] { padding-top: 1rem; padding-bottom: 1rem; }
[grid-pad="3"] { padding: 2rem; }
[grid-pad="t3"] { padding-top: 2rem; }
[grid-pad="r3"] { padding-right: 2rem; }
[grid-pad="b3"] { padding-bottom: 2rem; }
[grid-pad="l3"] { padding-left: 2rem; }
[grid-pad="x3"] { padding-left: 2rem; padding-right: 2rem; }
[grid-pad="y3"] { padding-top: 2rem; padding-bottom: 2rem; }
[grid-pad="4"] { padding: 4rem; }
[grid-pad="t4"] { padding-top: 4rem; }
[grid-pad="r4"] { padding-right: 4rem; }
[grid-pad="b4"] { padding-bottom: 4rem; }
[grid-pad="l4"] { padding-left: 4rem; }
[grid-pad="x4"] { padding-left: 4rem; padding-right: 4rem; }
[grid-pad="y4"] { padding-top: 4rem; padding-bottom: 4rem; }

[grid-gutter="2"] {
  margin-left: -1rem;
  margin-right: -1rem;
}
  
[grid-row]+[grid-gutter="2"] { margin-top: -1rem;}
 
[grid-gutter="4"] {
  margin-left: -2rem;
  margin-right: -2rem;
}
  
[grid-row]+[grid-gutter="4"] { margin-top: -2rem; }

[grid-gutter="6"] { 
  margin-left: -4rem; 
  margin-right: -4rem; 
}
  
[grid-row]+[grid-gutter="6"] { margin-top: -4rem; }

[grid-gutter="8"] {
  margin-left: -8rem;
  margin-right: -8rem;
}
  
[grid-row]+[grid-gutter="8"] { margin-top: -8rem; }